@model CMS_DTO.CMSGallery.CMS_GalleryViewModels

<div class="wrapper">
    <div class="inner-wrapper">
        <div id="main">
            <section class='title-section'>
                <div class="title-wrapper">
                    <div class="container">
                        <div class="border-title aligncenter">
                            <h1>Gallery</h1>
                            <h6>Take a look at our practice and process of defining spa!</h6>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <section id="primary" class="content-full-width">
                    <div id="post-126" class="post-126 page type-page status-publish hentry">
                        <div class="social-bookmark"></div>
                        <div class="social-share"></div>
                    </div>
                    <div class="dt-sc-clear"></div>
                    <div class="dt-sc-gallery-container gallery  no-space ">
                        @if (Model != null && Model.Gallerys != null && Model.Gallerys.Any())
                                    {
                                        var _first = "first";
                                        var _index = 1;
                                        foreach (var item in Model.Gallerys)
                                        {
                                <div id="dt_galleries-203" class="dt-gallery column dt-sc-one-third  @_first  no-space ">
                                    <figure>
                                        <img src='@item.ImageUrl' width='1060' height='795'
                                             alt='' />
                                        <div class="image-overlay">
                                            <div class="image-overlay-details">
                                                <h5>
                                                    <a href="javascript:void(0)" title="Meditation spa">@item.ProductName</a>
                                                </h5>
                                                <div class="links">
                                                    <a href="@item.ImageUrl" data-gal="prettyPhoto[gallery]"
                                                       title="">
                                                        <span class="fa fa-search-plus"> </span>
                                                    </a>
                                                    <a href="javascript:void(0)" title="">
                                                        <span class="fa fa-external-link"> </span>
                                                    </a>
                                                    @*<div class="views">
                                                        <span class="fa fa-heart"> </span>
                                                        <a href="javascript:void(0)" class="likeThis" id="like-203" data-post-id="203">12419</a>
                                                    </div>*@
                                                </div>
                                            </div>
                                            <a href="#" class="close-overlay hidden"> x </a>
                                        </div>
                                    </figure>
                                </div>
                                if (_index == 3)
                                {
                                    _first = "first";
                                    _index = 1;
                                }
                                else
                                {
                                    _first = "";
                                    _index = _index + 1;
                                }

                            }
                        }
                    </div>
                    <div class="pagination">
                        <div class="prev-post"></div>
                        <div class="next-post"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>