@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSNews.CMS_NewsViewModel
@using CMS_Common;

<div id="main">
    <section class='title-section'>
        <div class="title-wrapper">
            <div class="container">
                <div class="border-title aligncenter">
                    <h1>Tin tức</h1>
                    <h6>Chúng tôi đưa ra các bài viết về chất lượng cũng như sản phẩm đáng tin cậy</h6>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section id="primary" class="content-full-width">
            <div id="post-123" class="post-123 page type-page status-publish hentry">
                <div class="social-bookmark"></div>
                <div class="social-share"></div>
            </div>
            <div class="dt-sc-clear" style="padding-bottom: 55px; "></div>
            <div>
                @Html.Partial("_ListItem", Model)
            </div>
        </section>        
    </div>
</div>
