@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSLocation.CMSLocationModels
@using CMS_Shared;

<div id="main">
    <section class='title-section'>
        <div class="title-wrapper">
            <div class="container">
                <div class="border-title aligncenter">
                    <h1>Location</h1>
                    <h6>We provide lots of spa service. Enjoy your dreams with spa!</h6>
                </div>
            </div>
        </div>
    </section>
    <section id="primary" class="content-full-width">
        <div id="post-183" class="post-183 page type-page status-publish hentry">
            <div id="" class="responsive-map" style="height:500px;width:100%;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62474.34056022756!2d108.50099755187715!3d11.860014247459448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31711688c8381d1d%3A0x30da9d72be8f54a0!2zWHXDom4gVHLGsOG7nW5nLCBUcC4gxJDDoCBM4bqhdCwgTMOibSDEkOG7k25nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1529907496168" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
            </div>
            <div class='fullwidth-section ' style="background-image:url('../Content/border/border.png');background-repeat:repeat-x;background-position:left top;padding-top:95px;padding-bottom:50px;">
                <div class="container">
                    <div class='column dt-sc-three-fourth  space first'>
                        <h2>Customer Care</h2>
                        <div class="dt-sc-contact-info">
                            <i class='fa fa-envelope'></i>
                            <span>Email</span>
                            <a href="javascript:void(0)">
                                <span class="__cf_email__" data-cfemail="b0c9dfc5c2ded1ddd5f0c3dfddd5ddd1d9dc9ed3dfdd">[email&#160;protected]</span>
                            </a>
                            <span class='details'>24/7</span>
                        </div>
                        <div class="dt-sc-contact-info">
                            <i class='fa fa-comment'></i>
                            <span>Chat</span>
                            <p>Live Chat (offline)</p>
                            <span class='details'>
                                Mon - Fri 9AM - 8:30PM
                            </span>
                        </div>
                        <div class="dt-sc-contact-info">
                            <i class='fa fa-phone'></i>
                            <span>Phone/Booking</span>
                            <p>+1 888 458 5376 (offline)</p>
                            <span class='details'>
                                Mon - Fri 9AM - 8:30PM
                            </span>
                        </div>
                        <div class="dt-sc-contact-info">
                            <i class='fa fa-rocket'></i>
                            <span>General Inquiry</span>
                            <p>
                                <a href="javascript:void(0)" data-cfemail="9bf8f4f5effaf8efdbffe9fefaf6e8ebfab5f8f4f6">[email&#160;protected]</a>
                            </p>
                            <span class='details'>
                                24/7
                            </span>
                        </div>
                    </div>
                    <div class='column dt-sc-one-fourth  space '>
                        <h2>Mailing Address</h2>
                        <div class="dt-sc-contact-info">
                            <i class='fa fa-rocket'></i>121 King St, Melbourne VIC 3000, Australia
                        </div>
                    </div>
                </div>
            </div>
            <div class='fullwidth-section'>
                <div class="container">
                    <div class='column dt-sc-two-third  space first'>
                        <h2> Give us a Message</h2>
                        <div role="form" class="wpcf7" id="wpcf7-f4-p183-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="4" />
                                    <input type="hidden" name="_wpcf7_version" value="5.0.2" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p183-o1" />
                                    <input type="hidden" name="_wpcf7_container_post" value="183" />
                                </div>
                                <div class="column dt-sc-one-half first">
                                    <p>
                                        <span class="wpcf7-form-control-wrap your-name">
                                            <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name" />
                                        </span>
                                    </p>
                                    <p>
                                        <span class="wpcf7-form-control-wrap your-email">
                                            <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" />
                                        </span>
                                    </p>
                                </div>
                                <div class="column dt-sc-one-half">
                                    <p>
                                        <span class="wpcf7-form-control-wrap your-message">
                                            <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea>
                                        </span>
                                    </p>
                                </div>
                                <p>
                                    <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" />
                                </p>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                    <div class='column dt-sc-one-third  space '>
                        <p style="font-size: 16px; color: #37251b;">Book now for a Spa</p>
                        <div class='dt-sc-hr-invisible-small'></div>
                        <p>
                            <img class="alignleft size-full wp-image-180" style="max-width: 105px; margin-bottom: 10px;" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/05/callout-image2.png"
                                 alt="callout-image2" width="163" height="154" />
                        </p>
                        <p>
                            Hope you have seen our wide range of services for spa and herbal treatments. Book now for your convienent
                            schedule and enjoy the spa treatment and wellness of life.
                        </p>
                        <p style="text-align: right;">
                            <a href='#' target='_blank' class='dt-sc-button   small  without-icon'>
                                <span>Click me!</span>
                            </a>
                    </div>
                </div>
            </div>
            <div class='fullwidth-section ' style="background-image:url(https://dreamspa.dttheme.com/wp-content/uploads/2014/05/border.png);background-repeat:repeat-x;padding-top:95px;padding-bottom:50px;">
                <div class="container">
                    <h2> TODAY&#8217;S SPECIAL OFFER</h2>
                    <div class='dt-sc-images-carousel-wrapper' data-min='1' data-max='2' data-width='520'>
                        <ul class='dt-sc-images-carousel'>
                            @if (Model.LstDiscount != null && Model.LstDiscount.Any())
                            {
                                foreach (var item in Model.LstDiscount)
                                {
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img title="@item.Name" src="@item.ImageUrl" alt="@item.Name" />
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                        <div class="carousel-arrows">
                            <a href="" class="images-carousel-prev">
                                <span class="fa fa-angle-left"> </span>
                            </a>
                            <a href="" class="images-carousel-next">
                                <span class="fa fa-angle-right"> </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="social-bookmark"></div>
                <div class="social-share"></div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

    });
</script>
