@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="page-template page-template-tpl-fullwidth page-template-tpl-fullwidth-php page page-id-183">
    <div class="wrapper">
        <div class="inner-wrapper">
            <div id="main">
                <section class='title-section'>
                    <div class="title-wrapper">
                        <div class="container">
                            <div class="border-title aligncenter">
                                <h1>Location</h1>
                                <h6>We provide lots of spa service. Enjoy your dreams with spa!</h6>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="primary" class="content-full-width">
                    <div id="post-183" class="post-183 page type-page status-publish hentry">
                        <script data-cfasync="false" src="/cdn-cgi/scripts/f2bf09f8/cloudflare-static/email-decode.min.js"></script>
                        <script type="text/javascript">
                            jQuery(document).ready(function ($) {
                                // the div that will contain the map
                                var mapdiv = jQuery("#responsive_map_1602853394");
                                // markers should be clustered?
                                var clustering = "no";
                                // Create the map in the div
                                mapdiv.gMapResp({
                                    maptype: google.maps.MapTypeId.ROADMAP,
                                    log: false,
                                    zoom: 14,
                                    markers: [{
                                        address: 'Coimbatore, Tamil Nadu, India',
                                        key: '1', html: 'Design Themes, Coimbatore, <br> Tamil Nadu, India <br> Phone: 0040 752 235<br><strong><a target=\'_blank\' href=\'http://maps.google.com/?daddr=Coimbatore%2C+Tamil+Nadu%2C+India\'>(directions to our address)</a></strong>',
                                        popup: true,
                                        flat: true,
                                        icon: {
                                            image: 'http://yava.ro/icons/car.png'
                                        }
                                    }],
                                    panControl: false,
                                    zoomControl: false,
                                    draggable: true,
                                    scrollwheel: false,
                                    mapTypeControl: false,
                                    scaleControl: false,
                                    streetViewControl: false,
                                    overviewMapControl: true,
                                    styles: [{ "stylers": [{ "featureType": "all" }] }],
                                    latitude: null,
                                    longitude: null,
                                    onComplete: function () {
                                        var gmap = mapdiv.data('gmap').gmap;
                                        if (clustering.length != 0 && clustering == "yes") {
                                            var markerCluster = new MarkerClusterer(gmap, mapdiv.data('gmap').markers, { imagePath: 'https://dreamspa.dttheme.com/wp-content/plugins/responsive-maps-plugin/includes/img/m' });
                                        }
                                    }
                                });
                                gmap = mapdiv.data('gmap').gmap;
                                resmap_fixDisplayInTabs(mapdiv, true);
                            });</script>
                        <div id="responsive_map_1602853394" class="responsive-map" style="height:500px;width:100%;"></div>
                        <div class='fullwidth-section ' style="background-image:url(https://dreamspa.dttheme.com/wp-content/uploads/2014/05/border.png);background-repeat:repeat-x;background-position:left top;padding-top:95px;padding-bottom:50px;">
                            <div class="container">
                                <div class='column dt-sc-three-fourth  space first'>
                                    <h2>Customer Care</h2>
                                    <div class="dt-sc-contact-info">
                                        <i class='fa fa-envelope'></i>
                                        <span>Email</span>
                                        <a href="/cdn-cgi/l/email-protection#057c6a70776b64686045766a686068646c692b666a68">
                                            <span class="__cf_email__" data-cfemail="b0c9dfc5c2ded1ddd5f0c3dfddd5ddd1d9dc9ed3dfdd">[email&#160;protected]</span>
                                        </a>
                                        <span class='details'>24/7</span>
                                    </div>
                                    <div class="dt-sc-contact-info">
                                        <i class='fa fa-comment'></i>
                                        <span>Chat</span>
                                        <p>Live Chat (offline)</p>
                                        <span class='details'>
                                            Mon - Fri 9AM - 8:30PM
                                            <span class='details'>
                                    </div>
                                    <div class="dt-sc-contact-info">
                                        <i class='fa fa-phone'></i>
                                        <span>Phone/Booking</span>
                                        <p>+1 888 458 5376 (offline)</p>
                                        <span class='details'>
                                            Mon - Fri 9AM - 8:30PM
                                            <span class='details'>
                                    </div>
                                    <div class="dt-sc-contact-info">
                                        <i class='fa fa-rocket'></i>
                                        <span>General Inquiry</span>
                                        <p>
                                            <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9bf8f4f5effaf8efdbffe9fefaf6e8ebfab5f8f4f6">[email&#160;protected]</a>
                                        </p>
                                        <span class='details'>
                                            24/7
                                            <span class='details'>
                                    </div>
                                </div>
                                <div class='column dt-sc-one-fourth  space '>
                                    <h2>Mailing Address</h2>
                                    <div class="dt-sc-contact-info">
                                        <i class='fa fa-rocket'></i>121 King St, Melbourne VIC 3000, Australia
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='fullwidth-section ' style="background-color:&#8221;#fcfcf7&#8243;;background-image:url(&#8221;https://dreamspa.dttheme.com/wp-content/uploads/2014/05/border.png&#8221;);background-repeat:&#8221;repeat-x&#8221;;background-position:&#8221;left;padding-top:&#8221;95&#8243;px;padding-bottom:&#8221;50&#8243;px;">
                            <div class="container">
                                <div class='column dt-sc-two-third  space first'>
                                    <h2> Give us a Message</h2>
                                    <div role="form" class="wpcf7" id="wpcf7-f4-p183-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="/location/#wpcf7-f4-p183-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="4" />
                                                <input type="hidden" name="_wpcf7_version" value="5.0.2" />
                                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p183-o1" />
                                                <input type="hidden" name="_wpcf7_container_post" value="183" />
                                            </div>
                                            <div class="column dt-sc-one-half first">
                                                <p>
                                                    <span class="wpcf7-form-control-wrap your-name">
                                                        <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                               aria-required="true" aria-invalid="false" placeholder="Name" />
                                                    </span>
                                                </p>
                                                <p>
                                                    <span class="wpcf7-form-control-wrap your-email">
                                                        <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                               aria-required="true" aria-invalid="false" placeholder="Email" />
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="column dt-sc-one-half">
                                                <p>
                                                    <span class="wpcf7-form-control-wrap your-message">
                                                        <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"
                                                                  placeholder="Message"></textarea>
                                                    </span>
                                                </p>
                                            </div>
                                            <p>
                                                <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" />
                                            </p>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                </div>
                                <div class='column dt-sc-one-third  space '>
                                    <p style="font-size: 16px; color: #37251b;">Book now for a Spa</p>
                                    <div class='dt-sc-hr-invisible-small  '></div>
                                    <p>
                                        <img class="alignleft size-full wp-image-180" style="max-width: 105px; margin-bottom: 10px;" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/05/callout-image2.png"
                                             alt="callout-image2" width="163" height="154" />
                                    </p>
                                    <p>
                                        Hope you have seen our wide range of services for spa and herbal treatments. Book now for your convienent
                                        schedule and enjoy the spa treatment and wellness of life.
                                    </p>
                                    <p style="text-align: right;">
                                        <a href='#' target='_blank' class='dt-sc-button   small  without-icon'>
                                            <span>Click me!</span>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class='fullwidth-section ' style="background-image:url(https://dreamspa.dttheme.com/wp-content/uploads/2014/05/border.png);background-repeat:repeat-x;padding-top:95px;padding-bottom:50px;">
                            <div class="container">
                                <h2> TODAY&#8217;S SPECIAL OFFER</h2>
                                <div class='dt-sc-images-carousel-wrapper' data-min='1' data-max='2' data-width='520'>
                                    <ul class='dt-sc-images-carousel'>
                                        <li>
                                            <a href="#">
                                                <img title="Client 1" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image1.png"
                                                     alt="Client 1" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img title="Client 2" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image2.png"
                                                     alt="Client 2" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img title="Client 1" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image1.png"
                                                     alt="Client 3" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img title="Client 2" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image2.png"
                                                     alt="Client 4" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img title="Client 1" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image1.png"
                                                     alt="Client 5" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img title="Client 2" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image2.png"
                                                     alt="Client 6" />
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="carousel-arrows">
                                        <a href="" class="images-carousel-prev">
                                            <span class="fa fa-angle-left"> </span>
                                        </a>
                                        <a href="" class="images-carousel-next">
                                            <span class="fa fa-angle-right"> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="social-bookmark"></div>
                            <div class="social-share"></div>
                        </div>
                    </div>
                </section>
            </div>
            <footer id="footer">
                <div class="footer-logo">
                    <img class="normal_logo" src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/footer-logo.png" alt="Footer Logo"
                         title="Footer Logo">
                    <img class="retina_logo" src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/footer-logo@2x.png"
                         alt="Dream Spa" title="Dream Spa" style="width:66px; height:33px;" />
                </div>
                <div class="footer-widgets-wrapper">
                    <div class="container">
                        <div class='column dt-sc-one-fourth first'>
                            <aside id="nav_menu-2" class="widget widget_nav_menu">
                                <h3 class="widgettitle">Links</h3>
                                <div class="menu-footer-widget-menu-container">
                                    <ul id="menu-footer-widget-menu" class="menu">
                                        <li id="menu-item-397" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-397">
                                            <a href="https://dreamspa.dttheme.com/">Home</a>
                                        </li>
                                        <li id="menu-item-398" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-398">
                                            <a href="https://dreamspa.dttheme.com/about-us/">About us</a>
                                        </li>
                                        <li id="menu-item-399" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-399">
                                            <a href="https://dreamspa.dttheme.com/blog/">Blog</a>
                                        </li>
                                        <li id="menu-item-400" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-400">
                                            <a href="https://dreamspa.dttheme.com/gallery/">Gallery</a>
                                        </li>
                                        <li id="menu-item-401" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-183 current_page_item menu-item-401">
                                            <a href="https://dreamspa.dttheme.com/location/">Location</a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class='column dt-sc-one-fourth '>
                            <aside id="text-4" class="widget widget_text">
                                <h3 class="widgettitle">Services</h3>
                                <div class="textwidget">
                                    <ul>
                                        <li>
                                            <a title="" href=""> Aromatheraphy </a>
                                        </li>
                                        <li>
                                            <a title="" href=""> Skin Care </a>
                                        </li>
                                        <li>
                                            <a title="" href=""> Herbal Spa </a>
                                        </li>
                                        <li>
                                            <a title="" href=""> Hydrotherapy </a>
                                        </li>
                                        <li>
                                            <a title="" href=""> Electropathy </a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class='column dt-sc-one-fourth '>
                            <aside id="text-3" class="widget widget_text">
                                <h3 class="widgettitle">Social</h3>
                                <div class="textwidget">
                                    <ul class="dt-sc-social-icons">
                                        <li>
                                            <a title="" href="">
                                                <i class="fa fa-facebook"> </i> Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a title="" href="">
                                                <i class="fa fa-twitter"> </i> Twitter
                                            </a>
                                        </li>
                                        <li>
                                            <a title="" href="">
                                                <i class="fa fa-google-plus"> </i> Google Plus
                                            </a>
                                        </li>
                                        <li>
                                            <a title="" href="">
                                                <i class="fa fa-youtube"> </i> Youtube
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class='column dt-sc-one-fourth '>
                            <aside id="text-2" class="widget widget_text">
                                <h3 class="widgettitle">About</h3>
                                <div class="textwidget">
                                    <img title="DreamSpa" alt="DreamSpa" src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/logo.png">
                                    <div class="dt-sc-hr-invisible-small"></div>
                                    <p>
                                        Cannot foresee the pain and trouble that are bound to who fail in their duty through weakness of will,
                                        which is the same and pain.
                                    </p>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <div class="copyright-content">DreamSpa &copy; 2016. Design by Design Themes</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/f2bf09f8/cloudflare-static/email-decode.min.js"></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/js/inview.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.flexslider.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tabs.min.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.viewport.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.carouFredSel-6.2.1-packed.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tipTip.minified.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.donutchart.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.scrollto.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.nav.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/js/shortcodes.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/page-builder/js/jquery.inview.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/page-builder/js/custom-public.js?ver=4.9.7'></script>
    <script type='text/javascript'>
        /*  */
        var wpcf7 = { "apiSettings": { "root": "https:\/\/dreamspa.dttheme.com\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } }, "cached": "1" };
        /*  */</script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.2'></script>
    <script type='text/javascript'>
        /*  */
        var wc_add_to_cart_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/location\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View Cart", "cart_url": "https:\/\/dreamspa.dttheme.com\/shop\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
        /*  */</script>
    <script type='text/javascript' src='//dreamspa.dttheme.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.5.5'></script>
    <script type='text/javascript' src='//dreamspa.dttheme.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
    <script type='text/javascript'>
        /*  */
        var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/location\/?wc-ajax=%%endpoint%%" };
        /*  */</script>
    <script type='text/javascript' src='//dreamspa.dttheme.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.5.5'></script>
    <script type='text/javascript' src='//dreamspa.dttheme.com/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>
    <script type='text/javascript'>
        /*  */
        var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/location\/?wc-ajax=%%endpoint%%", "fragment_name": "wc_fragments" };
        /*  */</script>
    <script type='text/javascript' src='//dreamspa.dttheme.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.5.5'></script>
    <script type='text/javascript' src='//dreamspa.dttheme.com/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js?ver=3.1.6'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min.js?ver=1.2.0'></script>
    <script type='text/javascript'>
        /*  */
        var yith_wcwl_l10n = { "ajax_url": "\/wp-admin\/admin-ajax.php", "redirect_to_cart": "no", "multi_wishlist": "", "hide_add_button": "1", "is_user_logged_in": "", "ajax_loader_url": "https:\/\/dreamspa.dttheme.com\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader.gif", "remove_from_wishlist_after_add_to_cart": "yes", "labels": { "cookie_disabled": "We are sorry, but this feature is available only if cookies are enabled on your browser.", "added_to_cart_message": "<div class=\"woocommerce-message\">Product correctly added to cart<\/div>" }, "actions": { "add_to_wishlist_action": "add_to_wishlist", "remove_from_wishlist_action": "remove_from_wishlist", "move_to_another_wishlist_action": "move_to_another_wishlsit", "reload_wishlist_and_adding_elem_action": "reload_wishlist_and_adding_elem" } };
/*  */</script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl.js?ver=2.2.2'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-includes/js/wp-embed.min.js?ver=4.9.7'></script>
    <script type='text/javascript' src='https://maps-api-ssl.google.com/maps/api/js?v=3.exp&#038;libraries=places&#038;key=AIzaSyCRWEQ6h1tdGDIv01IrJj6lss2ISkqbYq0'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-content/plugins/responsive-maps-plugin/includes/js/resmap.min.js?ver=4.0'></script>
    <script type='text/javascript' src='https://dreamspa.dttheme.com/wp-includes/js/comment-reply.min.js?ver=4.9.7'></script>
</body>
