@{
    Layout = null;
}

<div class="dt-style-picker-wrapper">
    <a href="" title="" class="style-picker-ico">
        <img class="rotating" src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/picker-icon2.png"
             alt="" title="" width="23" height="23" />
    </a>
    <div id="dt-style-picker">
        <h2>Select Your Style</h2>
        <h3>Choose your layout</h3>
        <ul class="layout-picker">
            <li>
                <a id="fullwidth" href="" title="" class="selected">
                    <img src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/fullwidth.jpg" alt="" title=""
                         width="71" height="49" />
                </a>
            </li>
            <li>
                <a id="boxed" href="" title="">
                    <img src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/boxed.jpg" alt="" title=""
                         width="71" height="49" />
                </a>
            </li>
        </ul>
        <div class="hr"></div>
        <div id="pattern-holder" style="display:none;">
            <h3>Patterns for Boxed Layout</h3>
            <ul class="pattern-picker">
                <li>
                    <a data-image='pattern5.jpg' href='' title=''>
                        <img src='https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/patterns/pattern5.jpg'
                             alt='pattern5' title='pattern5' width='30' height='30' />
                    </a>
                </li>
                <li>
                    <a data-image='pattern4.jpg' href='' title=''>
                        <img src='https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/patterns/pattern4.jpg'
                             alt='pattern4' title='pattern4' width='30' height='30' />
                    </a>
                </li>
                <li>
                    <a data-image='pattern2.jpg' href='' title=''>
                        <img src='https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/patterns/pattern2.jpg'
                             alt='pattern2' title='pattern2' width='30' height='30' />
                    </a>
                </li>
                <li>
                    <a data-image='pattern1.jpg' href='' title=''>
                        <img src='https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/patterns/pattern1.jpg'
                             alt='pattern1' title='pattern1' width='30' height='30' />
                    </a>
                </li>
                <li>
                    <a data-image='pattern3.jpg' href='' title=''>
                        <img src='https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/patterns/pattern3.jpg'
                             alt='pattern3' title='pattern3' width='30' height='30' />
                    </a>
                </li>
            </ul>
            <div class="hr"></div>
        </div>
        <h3>Color scheme</h3>
        <ul class="color-picker">
            <li>
                <a id="blue" href="" title="">
                    <img src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/blue.jpg" alt="color-blue"
                         title="blue" width="92" height="30" />
                </a>
            </li>
            <li>
                <a id="brown" href="" title="">
                    <img src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/brown.jpg" alt="color-brown"
                         title="brown" width="92" height="30" />
                </a>
            </li>
            <li>
                <a id="chocolate" href="" title="">
                    <img src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/chocolate.jpg" alt="color-chocolate"
                         title="chocolate" width="92" height="30" />
                </a>
            </li>
            <li>
                <a id="green" href="" title="">
                    <img src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/green.jpg" alt="color-green"
                         title="green" width="92" height="30" />
                </a>
            </li>
            <li>
                <a id="olivegreen" href="" title="">
                    <img src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/olivegreen.jpg" alt="color-olivegreen"
                         title="olivegreen" width="92" height="30" />
                </a>
            </li>
            <li>
                <a id="violet" href="" title="">
                    <img src="https://dreamspa.dttheme.com/wp-content/themes/dreamspa/images/style-picker/violet.jpg" alt="color-violet"
                         title="violet" width="92" height="30" />
                </a>
            </li>
        </ul>
    </div>
</div>