
<div class="wrapper">
    <div class="inner-wrapper">
        <div id="main">
            <section class='title-section'>
                <div class="title-wrapper">
                    <div class="container">
                        <div class="border-title aligncenter">
                            <h1>About us</h1>
                            <h6>Little to know about us. We are here for you.</h6>
                        </div>
                    </div>
                </div>
            </section>
            <section id="primary" class="content-full-width">
                <div id="post-119" class="post-119 page type-page status-publish hentry">
                    <div class='fullwidth-section '>
                        <div class="container">
                            <div class='dt-sc-hr-invisible  '></div>
                            <h2>WHY DREAM SPA?</h2>
                            <div class='column dt-sc-one-half  space first'>
                                <p>
                                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                                    by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                                    trouble that are bound to ensue; and equal blame belongs.
                                </p>
                                <p>&nbsp;</p>
                                <p>
                                    These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled
                                    and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and
                                    every pain in all together.
                                </p>
                            </div>
                            <div class='column dt-sc-one-half  space '>
                                <img class="alignnone size-full wp-image-53" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/about-image.png"
                                     alt="about-image" width="535" height="282" />
                            </div>
                            <div class='dt-sc-hr-invisible  '></div>
                            <div class="border-title aligncenter">
                                <h2>Design you own Spa Treatment - the process</h2>
                                <h6>We provide menu to your taste. Just tell how you would like to be treated.</h6>
                            </div>
                            <div class='dt-sc-hr-invisible-small  '></div>
                            <div class='dt-sc-tabs-container aligncenter'>
                                <ul class="dt-sc-tabs-frame">
                                    <li>
                                        <a href="#">
                                            <span>01</span> Preparation
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>02</span> Process
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>03</span> Spa Treatment
                                        </a>
                                    </li>
                                </ul>
                                <div class="dt-sc-tabs-frame-content">
                                    <p>
                                        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                                        by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and
                                        trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness
                                        of will, which is the same as saying through shrinking from toil and pain.
                                    </p>
                                    <div class='dt-sc-hr-invisible  '></div>
                                    <h2>Select your Spa Process</h2>
                                    <div class='column dt-sc-one-third   first'>
                                        <div class='dt-sc-ico-content  type2 cyan'>
                                            <div class='icon'>
                                                <span class='fa fa-beer'> </span>
                                            </div>
                                            <h2>
                                                <a href='#' target='_blank'> The Beer Spa </a>
                                            </h2>
                                            <p>Nunc at pretium est curabitur commodo leact.</p>
                                        </div>
                                    </div>
                                    <div class='column dt-sc-one-third   '>
                                        <div class='dt-sc-ico-content  type2 purple'>
                                            <div class='icon'>
                                                <span class='fa fa-leaf'> </span>
                                            </div>
                                            <h2>
                                                <a href='#' target='_blank'> The Herbal </a>
                                            </h2>
                                            <p>Nunc at pretium est curabitur commodo leact.</p>
                                        </div>
                                    </div>
                                    <div class='column dt-sc-one-third   '>
                                        <div class='dt-sc-ico-content  type2 black'>
                                            <div class='icon'>
                                                <span class='fa fa-coffee'> </span>
                                            </div>
                                            <h2>
                                                <a href='#' target='_blank'> Coffee House </a>
                                            </h2>
                                            <p>Nunc at pretium est curabitur commodo leact.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dt-sc-tabs-frame-content">
                                    02 Process : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor
                                    tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                    himenaeos.
                                    <div class='dt-sc-hr-invisible  '></div>
                                    <h2>Select your Spa Process</h2>
                                    <div class='column dt-sc-one-third   first'>
                                        <div class='dt-sc-ico-content  type2 cyan'>
                                            <div class='icon'>
                                                <span class='fa fa-beer'> </span>
                                            </div>
                                            <h2>
                                                <a href='#' target='_blank'> The Beer Spa </a>
                                            </h2>
                                            <p>Nunc at pretium est curabitur commodo leact.</p>
                                        </div>
                                    </div>
                                    <div class='column dt-sc-one-third   '>
                                        <div class='dt-sc-ico-content  type2 purple'>
                                            <div class='icon'>
                                                <span class='fa fa-leaf'> </span>
                                            </div>
                                            <h2>
                                                <a href='#' target='_blank'> The Herbal </a>
                                            </h2>
                                            <p>Nunc at pretium est curabitur commodo leact.</p>
                                        </div>
                                    </div>
                                    <div class='column dt-sc-one-third   '>
                                        <div class='dt-sc-ico-content  type2 black'>
                                            <div class='icon'>
                                                <span class='fa fa-coffee'> </span>
                                            </div>
                                            <h2>
                                                <a href='#' target='_blank'> Coffee House </a>
                                            </h2>
                                            <p>Nunc at pretium est curabitur commodo leact.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dt-sc-tabs-frame-content">
                                    03 Spa Treatment : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis,
                                    a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                    per inceptos himenaeos.
                                    <div class='dt-sc-hr-invisible  '></div>
                                    <h2>Select your Spa Process</h2>
                                    <div class='column dt-sc-one-third   first'>
                                        <div class='dt-sc-ico-content  type2 cyan'>
                                            <div class='icon'>
                                                <span class='fa fa-beer'> </span>
                                            </div>
                                            <h2>
                                                <a href='#' target='_blank'> The Beer Spa </a>
                                            </h2>
                                            <p>Nunc at pretium est curabitur commodo leact.</p>
                                        </div>
                                    </div>
                                    <div class='column dt-sc-one-third   '>
                                        <div class='dt-sc-ico-content  type2 purple'>
                                            <div class='icon'>
                                                <span class='fa fa-leaf'> </span>
                                            </div>
                                            <h2>
                                                <a href='#' target='_blank'> The Herbal </a>
                                            </h2>
                                            <p>Nunc at pretium est curabitur commodo leact.</p>
                                        </div>
                                    </div>
                                    <div class='column dt-sc-one-third   '>
                                        <div class='dt-sc-ico-content  type2 black'>
                                            <div class='icon'>
                                                <span class='fa fa-coffee'> </span>
                                            </div>
                                            <h2>
                                                <a href='#' target='_blank'> Coffee House </a>
                                            </h2>
                                            <p>Nunc at pretium est curabitur commodo leact.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='dt-sc-hr-invisible  '></div>
                        </div>
                    </div>
                    <div class='fullwidth-section ' style="background-image:url(https://dreamspa.dttheme.com/wp-content/uploads/2014/05/border.png);background-repeat:repeat-x;background-position:left top;padding-top:95px;padding-bottom:50px;">
                        <div class="container">
                            <div class="border-title aligncenter">
                                <h2>OUR SERVICES</h2>
                                <h6>Here is a wide range of services we provide</h6>
                            </div>
                            <div class='column dt-sc-one-third  space first'>
                                <div class='dt-sc-ico-content type1 green'>
                                    <div class='icon'>
                                        <span>
                                            <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/services-ico1.png' alt='' />
                                        </span>
                                    </div>
                                    <h2>Ayurveda Spa</h2>
                                    <div class='image'>
                                        <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/services1.jpg' alt='' title='' />
                                    </div>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                                </div>
                            </div>
                            <div class='column dt-sc-one-third  space '>
                                <div class='dt-sc-ico-content type1 chocolate'>
                                    <div class='icon'>
                                        <span>
                                            <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/services-ico2.png' alt='' />
                                        </span>
                                    </div>
                                    <h2>Luxury Spa</h2>
                                    <div class='image'>
                                        <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/services2.jpg' alt='' title='' />
                                    </div>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                                </div>
                            </div>
                            <div class='column dt-sc-one-third  space '>
                                <div class='dt-sc-ico-content type1 blue'>
                                    <div class='icon'>
                                        <span>
                                            <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/services-ico3.png' alt='' />
                                        </span>
                                    </div>
                                    <h2>Massage Spa</h2>
                                    <div class='image'>
                                        <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/services3.jpg' alt='' title='' />
                                    </div>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                                </div>
                            </div>
                            <div class='dt-sc-hr-invisible  '></div>
                        </div>
                    </div>
                    <div class='fullwidth-section ' style="background-image:url(https://dreamspa.dttheme.com/wp-content/uploads/2014/05/border.png);background-repeat:repeat-x;background-position:left top;padding-top:95px;">
                        <div class="container">
                            <div class="border-title aligncenter">
                                <h2>OUR EXPERTS</h2>
                                <h6>Know our experienced team of spa wellness. Customer satisfaction is their goal.</h6>
                            </div>
                            <div class='dt-sc-hr-invisible-small  '></div>
                            <div class='column dt-sc-one-fourth  space first'>
                                <div class='dt-sc-team'>
                                    <div class="team-details">
                                        <h5> Camiele James</h5>
                                        <h6>Herbal Spa Expert</h6>
                                    </div>
                                    <div class='image'>
                                        <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/team1.jpg' alt='Please specify image url'
                                             title='Please specify image url' />
                                    </div>
                                    <p>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                                        atque corrupti quos dolores et quas molestias provident destiny is about voles.
                                    </p>
                                    <ul class='dt-sc-social-icons'>
                                        <li class='google'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/google.png'
                                                     alt='google' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/google.png'
                                                     alt='google' />
                                            </a>
                                        </li>
                                        <li class='facebook'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/facebook.png'
                                                     alt='facebook' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/facebook.png'
                                                     alt='facebook' />
                                            </a>
                                        </li>
                                        <li class='linkedin'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/linkedin.png'
                                                     alt='linkedin' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/linkedin.png'
                                                     alt='linkedin' />
                                            </a>
                                        </li>
                                        <li class='twitter'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/twitter.png'
                                                     alt='twitter' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/twitter.png'
                                                     alt='twitter' />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class='column dt-sc-one-fourth  space '>
                                <div class='dt-sc-team'>
                                    <div class="team-details">
                                        <h5> Laura Steward</h5>
                                        <h6> Massage Head</h6>
                                    </div>
                                    <div class='image'>
                                        <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/team2.jpg' alt='Please specify image url'
                                             title='Please specify image url' />
                                    </div>
                                    <p>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                                        atque corrupti quos dolores et quas molestias provident destiny is about voles.
                                    </p>
                                    <ul class='dt-sc-social-icons'>
                                        <li class='google'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/google.png'
                                                     alt='google' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/google.png'
                                                     alt='google' />
                                            </a>
                                        </li>
                                        <li class='facebook'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/facebook.png'
                                                     alt='facebook' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/facebook.png'
                                                     alt='facebook' />
                                            </a>
                                        </li>
                                        <li class='linkedin'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/linkedin.png'
                                                     alt='linkedin' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/linkedin.png'
                                                     alt='linkedin' />
                                            </a>
                                        </li>
                                        <li class='twitter'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/twitter.png'
                                                     alt='twitter' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/twitter.png'
                                                     alt='twitter' />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class='column dt-sc-one-fourth  space '>
                                <div class='dt-sc-team'>
                                    <div class="team-details">
                                        <h5> Jasmine Hanna</h5>
                                        <h6>Aromatherapy Expert</h6>
                                    </div>
                                    <div class='image'>
                                        <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/team3.jpg' alt='Please specify image url'
                                             title='Please specify image url' />
                                    </div>
                                    <p>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                                        atque corrupti quos dolores et quas molestias provident destiny is about voles.
                                    </p>
                                    <ul class='dt-sc-social-icons'>
                                        <li class='google'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/google.png'
                                                     alt='google' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/google.png'
                                                     alt='google' />
                                            </a>
                                        </li>
                                        <li class='facebook'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/facebook.png'
                                                     alt='facebook' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/facebook.png'
                                                     alt='facebook' />
                                            </a>
                                        </li>
                                        <li class='linkedin'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/linkedin.png'
                                                     alt='linkedin' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/linkedin.png'
                                                     alt='linkedin' />
                                            </a>
                                        </li>
                                        <li class='twitter'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/twitter.png'
                                                     alt='twitter' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/twitter.png'
                                                     alt='twitter' />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class='column dt-sc-one-fourth  space '>
                                <div class='dt-sc-team'>
                                    <div class="team-details">
                                        <h5> Jasmine Hanna</h5>
                                        <h6>Aromatherapy Expert</h6>
                                    </div>
                                    <div class='image'>
                                        <img src='https://dreamspa.dttheme.com/wp-content/uploads/2014/05/team4.jpg' alt='Please specify image url'
                                             title='Please specify image url' />
                                    </div>
                                    <p>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                                        atque corrupti quos dolores et quas molestias provident destiny is about voles.
                                    </p>
                                    <ul class='dt-sc-social-icons'>
                                        <li class='google'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/google.png'
                                                     alt='google' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/google.png'
                                                     alt='google' />
                                            </a>
                                        </li>
                                        <li class='facebook'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/facebook.png'
                                                     alt='facebook' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/facebook.png'
                                                     alt='facebook' />
                                            </a>
                                        </li>
                                        <li class='linkedin'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/linkedin.png'
                                                     alt='linkedin' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/linkedin.png'
                                                     alt='linkedin' />
                                            </a>
                                        </li>
                                        <li class='twitter'>
                                            <a href='#' target='_blank'>
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/hover/twitter.png'
                                                     alt='twitter' />
                                                <img src='https://dreamspa.dttheme.com/wp-content/plugins/designthemes-core-features/shortcodes/images/sociables/twitter.png'
                                                     alt='twitter' />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class='dt-sc-hr-invisible  '></div>
                            <h2>TODAY&#8217;S SPECIAL OFFER</h2>
                            <div class='dt-sc-images-carousel-wrapper' data-min='1' data-max='2' data-width='520'>
                                <ul class='dt-sc-images-carousel'>
                                    <li>
                                        <a href="#">
                                            <img title="Client 1" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image1.png"
                                                 alt="Client 1" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img title="Client 2" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image2.png"
                                                 alt="Client 2" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img title="Client 1" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image1.png"
                                                 alt="Client 3" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img title="Client 2" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image2.png"
                                                 alt="Client 4" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img title="Client 1" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image1.png"
                                                 alt="Client 5" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img title="Client 2" src="https://dreamspa.dttheme.com/wp-content/uploads/2014/07/dreamspa-carousel-image2.png"
                                                 alt="Client 6" />
                                        </a>
                                    </li>
                                </ul>
                                <div class="carousel-arrows">
                                    <a href="" class="images-carousel-prev">
                                        <span class="fa fa-angle-left"> </span>
                                    </a>
                                    <a href="" class="images-carousel-next">
                                        <span class="fa fa-angle-right"> </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="social-bookmark"></div>
                        <div class="social-share"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
