@model CMS_DTO.CMSCustomer.ClientLoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
</style>

<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
</head>
<body class="">
    <div id="main">
        <section class='title-section'>
            <div class="title-wrapper">
                <div class="container">
                    <div class="border-title aligncenter">
                        <h1>Tài khoản của tôi</h1>
                        <h6>Cuộc sống khỏe mạnh mỗi ngày.</h6>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <section id="primary" class="content-full-width">
                <div id="post-8" class="post-8 page type-page status-publish hentry">
                    <div class="woocommerce">
                        @using (@Html.BeginForm("ForgetPassword", "Login", FormMethod.Post, new { @class = "form-horizontal create-form lost_reset_password", @enctype = "multipart/form-data", @style = "" }))
                        {
                            <form method="post" class="lost_reset_password">
                                <p>
                                    Quên mật khẩu? Làm ơn hãy nhập tên đăng nhập hoặc địa chỉ mail. Chúng tôi sẽ gửi tin nhắn ngay sau khi được xác nhận qua mail.
                                </p>
                                <p class="form-row form-row-first">
                                    <label for="user_login">Username or email</label>
                                    <input class="input-text" type="text" name="user_login" id="user_login" />
                                </p>
                                <div class="clear"></div>
                                <p class="form-row">
                                    <input type="hidden" name="wc_reset_password" value="true" />
                                    <input type="submit" class="button" value="Reset Password" />
                                </p>
                                <input type="hidden" id="_wpnonce" name="_wpnonce" value="0ce138888a" />
                                <input type="hidden" name="_wp_http_referer" value="/shop/my-account/lost-password/" />
                            </form>
                        }
                        </div>
                    <div class="social-bookmark"></div>
                    <div class="social-share"></div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
</script>
